@import "tailwindcss";

html,body{
  overflow-x: hidden;
  background-color: var(--BackgroundPrimary);
  user-select: none;
}

::-webkit-scrollbar{
  width:0;
}

/** Comman class setup  for same fonts **/

@font-face {
    font-family: 'inter-black';
    src: url('/fonts/Inter-Black.woff2');
}

@font-face {
    font-family: 'inter-medium';
    src: url('/fonts/Inter-Medium.woff2');
}

@font-face {
    font-family: 'inter-regular';
    src: url('/fonts/Inter-Regular.woff2');
}

@font-face {
    font-family:'nunito-regular';
    src: url('/fonts/Nunito-Regular.woff2'),
         url('/fonts/Nunito-Regular.woff');
}

@font-face {
    font-family: 'nunito-medium';
    src: url('/fonts/Nunito-Medium.woff2'),
         url('/fonts/Nunito-Medium.woff');
}


:root {
  --BackgroundPrimary:#f0f6ff;  
  --oldBorder:#e2e8f0;
  --BackgroundSecondary: #ffffff; 
  --TextPrimary: #0f172a;
  --Text: #334155;     
  --TextNav:#121212;    
  /*--Accent: #2563eb;  */
  --Accent:#7660cc;    
  /*--AccentHover: #1d4ed8;  */
  --AccentHover:#917ed9;    
  --Border: #d3d9e1;      
  --Shadow: 0 2px 8px rgba(0,0,0,0.05);
  --logoAccent:#1B4260;
  --TextLight: #333435;     
  --Highlight:#d09c34;
}

@layer base{
  h1{
    @apply font-[inter-black] text-[var(--TextPrimary)] text-6xl lg:text-9xl;
  }
  h2{
    @apply font-[inter-black] text-[var(--TextNav)] text-4xl md:text-6xl uppercase;
  }
  h4{
    @apply font-[inter-black] text-2xl lg:text-5xl text-[var(--Accent)] tracking-tight leading-tight lg:whitespace-nowrap;
  }
  h3{
    @apply font-bold font-[nunito-medium];
  }
  h5{
    @apply font-[inter-black] text-xl text-[var(--TextNav)] capitalize;
  }
  p{
    @apply font-[nunito-regular] text-[var(--Text)] leading-[1.2];
  }
  main{
    @apply w-full min-h-screen;
  }
  section{
    @apply w-full min-h-screen bg-[var(--BackgroundPrimary)];
  }
  section.even{
    @apply bg-[var(--BackgroundSecondary)];
  }
  nav{
    @apply text-[var(--TextNav)] bg-[var(--BackgroundSecondary)] flex justify-between items-center w-full p-0 md:p-2
    shadow fixed top-0 left-0 z-50;
  }
  input{
    @apply rounded-lg border border-[var(--Border)] outline-0 ring-0;
  }
  select{
    @apply rounded-md;
  }
  img{
    @apply w-full h-full object-cover;
  }
  button{
    @apply font-[nunito-regular] cursor-pointer;
  }
  span{
    @apply text-[var(--Accent)];
  }
  footer{
    @apply z-50;
  }
}

@layer utilities{
  .links{
    @apply lg:flex gap-4 hidden font-bold; 
  }
  .mobile-links{
    @apply absolute w-full top-0 px-4 py-12 left-0 translate-x-[100%] 
    h-[100vh] z-50 bg-[var(--BackgroundPrimary)] will-change-transform  flex flex-col gap-2 lg:hidden;
  }
  .mobile-links p{
    @apply text-3xl font-[nunito-medium] font-bold;
  }
  .hero{
    @apply bg-[var(--BackgroundPrimary)];
  }
  .button{
    @apply py-2 px-8 whitespace-nowrap scale-90 md:py-3 md:px-12 text-center rounded-full cursor-pointer active:scale-95 shadow;
  }

}

@layer components{
  .showCard{
    @apply bg-[#C4B3FF] flex flex-col items-center space-y-6 md:py-32 cursor-pointer lg:py-16 py-16 px-4 rounded-lg
    shadow transition-all w-full hover:shadow-lg flex-1 hover:-translate-z-4 hover:scale-y-104 hover:-rotate-z-3 origin-left
    border border-[var(--oldBorder)];
  }
  .showCard h5{
    @apply text-[var(--TextNav)] text-center font-bold font-[inter-black] text-2xl;
  }
  .showCard p{
    @apply text-center w-[90%] leading-[1.2];
  }
  .btnSec{
    @apply border bg-[var(--TextLight)]  border-gray-300  text-white;
  }

  .featureCard{
    @apply snap-center flex-shrink-0 flex flex-col items-center border border-[var(--Border)] bg-[var(--oldBorder)]
    cursor-pointer px-4 py-12 w-[100%] md:w-[48%] lg:w-[30%] my-2  md:py-6 space-y-4 rounded-lg;
  }
  .featureCard h5{
    @apply text-[var(--TextNav)] text-center font-bold font-[inter-black] text-base md:text-2xl;
  }
  .featureCard p{
    @apply text-center w-full md:w-[90%] leading-[1.2];
  }
  .cause{
    @apply border-0;
  }
  .card{
    @apply flex flex-col gap-2 items-center overflow-hidden  border border-[var(--Border)] shadow-xl p-0 bg-[var(--Accent)]
    text-white rounded-lg min-h-[50vh] md:h-auto lg:min-h-[50vh];
  }
  .card p{
    @apply text-center text-white !text-xs p-2;
  }

  .card h5{
    @apply font-black capitalize;
  }

  .greetCards {
  @apply flex flex-col items-center  justify-center bg-white 
         border border-[var(--Border)] shadow rounded-lg px-4 py-4 
         gap-2 md:min-h-32 w-full sm:w-[90%] md:w-[70%] lg:w-auto lg:flex-1
         font-black font-[nunito-regular] text-sm md:text-base;
  }

}


/* Comman btn styles */

.form{
  background-color:var(--BackgroundSecondary);
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(201, 166, 107, 0.15); /* subtle shadow */
  position: relative;
}

.form input{
  inset:0;
  border: 0;
}

/* comman card styles */
.pin{
  filter:drop-shadow(var(--Shadow));
}

.showCard:hover img{
  opacity: 1;
}

.br{
  box-shadow: 20px 0px 1px #E7A1C7;
}

.animate-scroll:active,.animate-scroll:hover{
  animation-play-state: paused;
}

/*Loader Animation */

 @keyframes square-animation {
   0% {
    left: 0;
    top: 0;
   }

   10.5% {
    left: 0;
    top: 0;
   }

   12.5% {
    left: 32px;
    top: 0;
   }

   23% {
    left: 32px;
    top: 0;
   }

   25% {
    left: 64px;
    top: 0;
   }

   35.5% {
    left: 64px;
    top: 0;
   }

   37.5% {
    left: 64px;
    top: 32px;
   }

   48% {
    left: 64px;
    top: 32px;
   }

   50% {
    left: 32px;
    top: 32px;
   }

   60.5% {
    left: 32px;
    top: 32px;
   }

   62.5% {
    left: 32px;
    top: 64px;
   }

   73% {
    left: 32px;
    top: 64px;
   }

   75% {
    left: 0;
    top: 64px;
   }

   85.5% {
    left: 0;
    top: 64px;
   }

   87.5% {
    left: 0;
    top: 32px;
   }

   98% {
    left: 0;
    top: 32px;
   }

   100% {
    left: 0;
    top: 0;
   }
  }

  .loader {
   position: fixed;
   width: 96px;
   height: 96px;
   z-index: 999;
   top: 50%;
   left: 50%;
   transform:translate(-50%, -50%) rotate(45deg);
  }

  .loader-square {
   position: absolute;
   top: 0;
   left: 0;
   width: 28px;
   height: 28px;
   margin: 2px;
   border-radius: 0px;
   background: var(--Accent);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   animation: square-animation 10s ease-in-out infinite both;
  }

  .loader-square:nth-of-type(0) {
   animation-delay: 0s;
  }

  .loader-square:nth-of-type(1) {
   animation-delay: -1.4285714286s;
  }

  .loader-square:nth-of-type(2) {
   animation-delay: -2.8571428571s;
  }

  .loader-square:nth-of-type(3) {
   animation-delay: -4.2857142857s;
  }

  .loader-square:nth-of-type(4) {
   animation-delay: -5.7142857143s;
  }

  .loader-square:nth-of-type(5) {
   animation-delay: -7.1428571429s;
  }

  .loader-square:nth-of-type(6) {
   animation-delay: -8.5714285714s;
  }

  .loader-square:nth-of-type(7) {
   animation-delay: -10s;
  }

  /* React Calender Styling */
.react-calendar {
  width: 100%;
  border: none;
}



